<ion-view>
	<ion-content>
	<h2 class="app-header">CLAP-'O'-METER </h2>
		<ion-slide-box show-pager="false">
			  <ion-slide>
					<div class="clapBlock" ng-click="sendClap()">
					<img src="img/hand.png"/>  
					<div class="circlebtn">Touch to Clap</div>
					<div class="circle one"></div>
					<div class="circle two"></div>
					<div class="circle three"></div>
					</div>
			  </ion-slide>
			  <ion-slide>
				
				  
				    
					  <h1 class="text-middle text-Animate">Please Wait....</h1>
					
				  
		    	
			  </ion-slide>
			  <ion-slide>
				<div class="card">
					  <div class="item item-avatar">
						<img src="img/hand.png">
						<h2>{{ questionText}}</h2>
						<p>[Select one]</p>
					  </div>
					  <div class="item item-text-wrap">
						<button class="button button-full button-positive icon-left ion-ios-circle-filled text-left" ng-click="responsenoCount(0)">
						   YES
						</button>
						<button class="button button-full button-positive icon-left ion-ios-circle-filled" ng-click="responsenoCount(1)">
						   No
						</button>
						<button class="button button-full button-positive icon-left ion-ios-circle-filled" ng-click="responsenoCount(2)">
						   Don't Care
						</button>
					  </div>					  
					</div>
			  </ion-slide>
		</ion-slide-box>
        
        
	</ion-content>
</ion-view>